<div class="auth-container">
  <div class="auth-box glass-card">
    <div class="header-text">
      <h2>Enicarthage Incubator</h2>
      <p>Connectez-vous à votre espace</p>
    </div>

    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="input-group">
        <label for="email">Adresse Email</label>
        <input type="email" id="email" name="email" [(ngModel)]="credentials.email" required placeholder="nom@exemple.com">
      </div>

      <div class="input-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password" [(ngModel)]="credentials.password" required placeholder="••••••••">
      </div>

      <div class="error-msg" *ngIf="error">
        {{ error }}
      </div>

      <button type="submit" class="btn-primary" [disabled]="!loginForm.form.valid">Se connecter</button>
      
      <div class="footer-links">
        <a href="#">Mot de passe oublié ?</a>
        <br>
        <span>Pas encore de compte ? <a routerLink="/register">S'inscrire</a></span>
      </div>
    </form>
  </div>
</div>
